/* cust_header.css */

.cust-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b1528;
  padding: 10px 20px; /* Reduced padding */
  height: 80px; /* Reduced height */
}

.cust-header-left {
  flex: 1; /* Take as much space as available */
  display: flex;
  align-items: center;
}

.cust-header-left .logo img {
  height: 60px; /* Adjusted logo size */
  width: auto; /* Auto width */
}

.search-bar {
  flex: 4; /* Take more space on larger screens */
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%; /* Full width */
  padding: 8px 15px; /* Adjusted padding */
  font-size: 14px; /* Smaller font size */
  border: 1px solid #eaeaea;
  border-radius: 20px; /* Rounded border */
  outline: none; /* Remove outline */
}

.search-icon {
  font-size: 20px;
  color: #eaeaea;
  margin-right: 10px; /* Margin between icon and input */
}

.cust-header-right {
  flex: 1; /* Take as much space as available */
  display: flex;
  justify-content: flex-end; /* Right align on larger screens */
  align-items: center;
}

.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #eaeaea;
  margin: 0 10px; /* Added margin */
}

.header-icon {
  font-size: 24px; /* Smaller icon size */
  margin-right: 5px;
}

.header-text {
  font-size: 14px; /* Smaller text size */
}
